.about-us__subtitle {
  display: flex;
  align-items: center;

  font-family: $primary-font-family;
  font-style: normal;
  font-weight: $secondary-font-weight;
  font-size: $subtitle-text-size;
  line-height: $secondary-line-height;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: $title-text-colour;

  margin-bottom: 20px;

  &:before {
    content: '';
    display: block;
    height: 1px;
    width: 60px;
    background: $title-text-colour;
    margin-right: 20px;
  }
}

.about-us__title {
  font-family: $secondary-font-family;
  font-style: normal;
  font-weight: $rare-text-weight;
  font-size: $rare-title-text-size;
  line-height: 1.17;
  letter-spacing: 0.05em;

  color: $title-text-colour;

  margin-bottom: 20px;

  @media (min-width: 1280px) {
    font-size: $title-text-size;
    line-height: 1.16;
  }
}

.about-us__subtext {
  font-family: $primary-font-family;
  font-style: normal;
  font-weight: $primary-text-weight;
  font-size: $subtext-text-size;
  line-height: $primary-line-height;
  letter-spacing: 0.02em;

  color: $primary-text-colour;

  margin-bottom: 20px;

  @media (min-width: 1280px) {
    font-size: $secondary-text-size;
    line-height: $primary-line-height;
  }
}

.about-us__text {
  font-family: $primary-font-family;
  font-style: normal;
  font-weight: $primary-text-weight;
  font-size: $primary-text-size;
  line-height: 1.85;
  letter-spacing: 0.02em;

  color: $primary-text-colour;

  margin-bottom: 40px;
}

.about-us__button-text {
  display: block;
  font-family: $primary-font-family;
  font-style: normal;
  font-weight: $secondary-font-weight;
  font-size: $button-text-size;
  line-height: $secondary-line-height;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  color: $title-text-colour;
  padding: 12px 20px;

  &:hover,
  :focus {
    color: $main-white;
  }
}

.about-us__container {
  display: flex;
}

.about-us__examples-tablet {
  display: none;
  @media (min-width: 768px) and (max-width: 1279px) {
    display: flex;
    flex-direction: column;
    min-width: 330px;
    margin-right: 30px;
  }
}

.about-us__img {
  @media (min-width: 768px) and (max-width: 1279px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media (min-width: 1280px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.about-us__examples-desktop {
  display: none;
  @media (min-width: 1280px) {
    display: flex;
    min-width: 570px;
    margin-right: 64px;
  }
}
