$primary-text-colour: #555555;
$secondary-text-colour: #9da4bd;
$title-text-colour: #303030;
$accent: #ff6c00;
$hero-footer-colour: #2f303a;
$main-white: #ffffff;
$footer-link-colour: rgba(255, 255, 255, 0.6);
$secondary-background-colour: #f5f4fa;
$primary-icon-colour: #afb1b8;

$primary-font-family: Open Sans, sans-serif;
$secondary-font-family: Raleway, sans-serif;
$primary-text-weight: normal;
$secondary-font-weight: 600;
$rare-text-weight: bold;
$primary-text-size: 14px;
$secondary-text-size: 18px;
$subtitle-text-size: 11px;
$title-text-size: 42px;
$hero-mob-tab-title: 48px;
$primary-line-height: 1.7;
$secondary-line-height: 1.4;
