<section class="section about-us__section">
    <div class="container">

        <h3 class="about-us__subtitle">ABOUT US</h3>
        <h2 class="about-us__title">Best Barbershop of your city</h2>
        <p class="about-us__subtext">If you want to add more confidence to your image, you are definitely in the
            right place.</p>
        <p class="about-us__text">We are a team that never stops at what has been achieved and is eager for change. And
            when you get there
            into the hands of our master, you can never be the same again. We are a team that is always "on the same
            wavelength"
            with clients. Therefore, we are always ready to improve everyone who comes to us!</p>
        <button class="appointment-button" type="button"> <span class="about-us__button-text">Get an appointment</span>
        </button>
    </div>
</section>