<section class="section about-us">
    <div class="container about-us__container">
        <div class="about-us__examples-tablet">
            <img class="about-us__img" src="/images/shawing-tablet-beard.jpg"
                srcset="/images/shawing-tablet-beard.jpg 1x, /images/shawing-tablet-beard@2x.jpg 2x" alt="Shaving beard"
                width="330" height="235">
            <img class="about-us__img" src="/images/shawing-tablet-head.jpg"
                srcset="/images/shawing-tablet-head.jpg 1x, /images/shawing-tablet-head@2x.jpg 2x" alt="Shaving head"
                width="330" height="235">
        </div>
        <div class="about-us__examples-desktop">
            <img class="about-us__img" src="/images/shawing-beard-desktop.png"
                srcset="/images/shawing-beard-desktop.png 1x, /images/shawing-beard-desktop@2x.png 2x"
                alt="Shaving beard" width="330" height="235">
            <img class="about-us__img" src="/images/shawing-head-desktop.jpg"
                srcset="/images/shawing-head-desktop.jpg 1x, /images/shawing-head-desktop@2x.png 2x" alt="Shaving head"
                width="330" height="235">
        </div>

        <div>
            <h3 class="about-us__subtitle">ABOUT US</h3>
            <h2 class="about-us__title">Best Barbershop of your city</h2>
            <p class="about-us__subtext">If you want to add more confidence to your image, you are definitely in the
                right place.</p>
            <p class="about-us__text">We are a team that never stops at what has been achieved and is eager for change.
                And
                when you get there
                into the hands of our master, you can never be the same again. We are a team that is always "on the same
                wavelength"
                with clients. Therefore, we are always ready to improve everyone who comes to us!</p>
            <button class="appointment-button" type="button"> <span class="about-us__button-text">Get an
                    appointment</span>
            </button>
        </div>
    </div>
</section>