<section class="section">
    <div class="container">

        <h3 class="benefits__subtitle">the old traditional school</h3>
        <h2 class="benefits__title">Why do they come to us?</h2>
        <p class="benefits__text">Only good things are said about us. But it's better to
            See and feel once than read about it a dozen times.</p>


        <ul class="benefits__list">
            <li class="benefits__list-item">
                <p class="benefits__quantity">600<span>+</span></p>
                <p>Satisfied customers per day</p>
            </li>
            <li class="benefits__list-item">
                <p class="benefits__quantity">20<span>+</span></p>
                <p>Best barbers from Kyiv</p>
            </li>
            <li class="benefits__list-item">
                <p class="benefits__quantity">50<span>+</span></p>
                <p>Excellent service awards</p>
            </li>
            <li class="benefits__list-item">
                <p class="benefits__quantity">100<span>+</span></p>
                <p>Gifts for regular customers</p>
            </li>
        </ul>
    </div>
</section>