<header>
    <div class="container header-container">
        <a href="./index.html">
            <svg viewBox="0 0 100 100" width="40">
                <use class="header__icon--logo" href="./images/icons.svg#icon-logo"></use>
            </svg>
        </a>
        <nav>
            <ul>
                <li>About us</li>
                <li>Services and prices</li>
                <li>Masters</li>
                <li>Contacts</li>
            </ul>

            <ul>
                <li><a href="tel:+380441111111">+38 044 111 11 11</a></li>
                <li><a href="online appointment">Online appointment</a></li>
            </ul>
        </nav>

        <!-- <button type="button">
            <svg viewBox="0 0 100 100" width="40">
                <use class="header__icon--open" href="./images/icons.svg#icon-menu_40px-1"></use>
                <use class="header__icon--close" href="./images/icons.svg#icon-close_40px-1"></use>
            </svg>
        </button> -->
    </div>
</header>