<section class="section prices__overlay">
    <div class="container">

        <h2>Spend your time with the best barbers</h2>
        <h3>Services and prices</h3>
        <ul>
            <li>
                <p>Men's haircut</p> <span>from 300 UAH</span>
            </li>
            <li>
                <p>Beard trim</p> <span>from 200 UAH</span>
            </li>
            <li>
                <p>Mustache trim</p> <span>from 200 UAH</span>
            </li>
            <li>
                <p>Straight razor shaving</p> <span>from 200 UAH</span>
            </li>
            <li>
                <p>Haircut made by trainee</p> <span>from 50 UAH</span>
            </li>
            <li>
                <p>Clipper haircut</p> <span>from 200 UAH</span>
            </li>
            <li>
                <p>Children's haircut (up to 12 years old)</p> <span>from 300 UAH</span>
            </li>
            <li>
                <p>Gray hair camouflage</p> <span>from 200 UAH</span>
            </li>
        </ul>
        <button type="button">Get an appointment</button>
    </div>
</section>