<section class="section prices__overlay">
    <div class="container">

        <h3 class="prices__subtitle">Spend your time with the best barbers</h3>
        <h2 class="prices__title">Services and prices</h2>
        <div class="prices-list__container">
            <ul class="prices-list">
                <li class="prices-list__item">
                    <p class="price-list__text">Men's haircut</p>
                    <div class="price-list__devider"></div>
                    <p>from 300 UAH</p>
                </li>
                <li class="prices-list__item">
                    <p class="price-list__text">Beard trim</p>
                    <div class="price-list__devider"></div>
                    <p>from 200 UAH</p>
                </li>
                <li class="prices-list__item">
                    <p class="price-list__text">Mustache trim</p>
                    <div class="price-list__devider"></div>
                    <p>from 200 UAH</p>
                </li>
                <li class="prices-list__item">
                    <p class="price-list__text">Straight razor shaving</p>
                    <div class="price-list__devider"></div>
                    <p>from 200 UAH</p>
                </li>
                <li class="prices-list__item">
                    <p class="price-list__text">Haircut made by trainee</p>
                    <div class="price-list__devider"></div>
                    <p>from 50 UAH</p>
                </li>
                <li class="prices-list__item">
                    <p class="price-list__text">Clipper haircut</p>
                    <div class="price-list__devider"></div>
                    <p>from 200 UAH</p>
                </li>
                <li class="prices-list__item">
                    <p class="price-list__text">Children's haircut (up to 12 y.o.)</p>
                    <div class="price-list__devider"></div>
                    <p>from 300 UAH</p>
                </li>
                <li class="prices-list__item">
                    <p class="price-list__text">Gray hair camouflage</p>
                    <div class="price-list__devider"></div>
                    <p>from 200 UAH</p>
                </li>
            </ul>
        </div>
        <div class="prices__button">
            <button class="appointment-button" type="button"><span class="prices__button-text">Get an
                    appointment</span></button>
        </div>
    </div>

</section>